<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <connectionStrings>
      <!--(LocalDB)\MSSQLLocalDB-->
      <!--mssql2.gear.host     User ID=onlineshop;            Password=Ga8??chW4hLF-->
    <!--<add name="XXXConnection" connectionString="Data Source=mssql2.gear.host;Initial Catalog=onlineshop;User ID=onlineshop;Password=Ga8??chW4hLF; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="LocalConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=LocalDB;MultipleActiveResultSets=True;Ingetrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
</configuration>